/GIMP/
/cef_user_data/
/coc/
/dconf/
/discord/
/docker/
/eog/
/evolution/
/gnome-control-center/
/gnome-games/
/google-chrome/
/gtk-3.0/
/gtk-4.0/
/mimeapps.list
/monitors.xml
/nautilus/
/pulse/
/spotify/
/systemd/
